img {
	max-width: 40%;
	max-height: 300px;
}

body {
	font-family: Helvetica;
}

h1 {
	padding-top: 40px;
	padding-bottom: 40px;
	color:white;
background-image: url("http://graphics8.nytimes.com/images/2012/03/14/business/britannica-decoder/britannica-decoder-blog480.jpg");
}